<div *ngIf="mobileMenuOpen" class="fixed inset-0 top-[57px] bg-background z-40 animate-fade-in md:hidden">
    <div class="container px-4 py-8 flex flex-col gap-6">
        <nav class="hidden md:flex items-center gap-6">
            <a *ngFor="let link of navItems" [attr.aria-label]="link.label" (click)="navigateTo(link.path)"
                      class = "relative block font-semibold px-2 py-2 transition hover:text-[#ff0030] cursor-pointer">
              {{link.title}}
            </a>
        </nav>

        <div className="flex flex-col gap-3 mt-4">
            <Button variant="outline" className="w-full font-medium">
                Sign In
            </Button>

            <Button className="w-full font-medium">Sign Up</Button>
        </div>
    </div>
</div>