<!-- Filtro por precio -->
<div class="mb-4">
    <div class="flex items-center gap-2 text-lg font-medium">
        <app-euro-bag-icon></app-euro-bag-icon>
        Precio por día
    </div>

    <input type="range" min="0" max="2000" step="100" [(ngModel)]="filters.price[1]" (change)="onFilterChange(); irAPagina(1)" />
    <div class="flex justify-between text-sm text-gray-500 mt-1">
        <span>0 €/día</span>
        <span>{{ filters.price[1] | number:'1.0-0' }} €/día</span>
    </div>
</div>

<!-- Resto de filtros -->
<ng-container *ngFor="let filter of filterGroups">
    <div class="border-t pt-4">
        <div class="flex justify-between items-center cursor-pointer" (click)="toggle(filter.key)">
            <div class="flex items-center gap-2 text-lg font-medium">
                <ng-container *ngComponentOutlet="filter.icon"></ng-container>
                {{ filter.label }}
            </div>

            <ng-container *ngIf="expanded[filter.key]; else collapsedIcon">
                <app-chevrom-down-icon></app-chevrom-down-icon>
            </ng-container>

            <ng-template #collapsedIcon>
                <app-chevrom-right-icon></app-chevrom-right-icon>
            </ng-template>
        </div>
  
        <div *ngIf="expanded[filter.key]" class="mt-2">
            <div *ngFor="let option of filter.options" class="mb-2 ml-0.5">
                <div class="flex items-center gap-3 space-y-3">
                    <label class="checkBox">
                        <input type="checkbox" value={{option}} [checked]="filters[filter.key]?.includes(option)" (change)="onCheckboxChange(filter.key, option, $event); irAPagina(1)">
                        <div class="transition"></div>
                    </label>
                    {{ option }}
                </div>
            </div>
        </div>

        <div class="w-full h-0.5 bg-black opacity-20 mt-5"></div>
    </div>
</ng-container>

<!-- Fecha de inicio -->
<div class="border-t pt-4">
    <div class="flex justify-between items-center cursor-pointer" (click)="toggle('fechaInicio')">
        <div class="flex items-center gap-2 text-lg font-medium">
            <app-calendar-start></app-calendar-start>
            Fecha de inicio
        </div>
    
        <ng-container *ngIf="expanded['fechaInicio']; else collapsedIcon1">
            <app-chevrom-down-icon></app-chevrom-down-icon>
        </ng-container>

        <ng-template #collapsedIcon1>
            <app-chevrom-right-icon></app-chevrom-right-icon>
        </ng-template>
    </div>
  
    <div *ngIf="expanded['fechaInicio']" class="mt-3">
        <mat-calendar [(selected)]="filters.fechaInicio" (selectedChange)="onFilterChange()" [selected]="filters.fechaInicio" [startAt]="filters.fechaInicio" class="rounded-xl custom-calendar"></mat-calendar>
    </div>
</div>

<div class="w-full h-0.5 bg-black opacity-20 mt-5"></div>
  
<!-- Fecha de fin -->
<div class="border-t pt-4">
    <div class="flex justify-between items-center cursor-pointer" (click)="toggle('fechaFin')">
        <div class="flex items-center gap-2 text-lg font-medium">
            <app-calendar-end></app-calendar-end>
            Fecha de fin
        </div>
    
        <ng-container *ngIf="expanded['fechaFin']; else collapsedIcon2">
            <app-chevrom-down-icon></app-chevrom-down-icon>
        </ng-container>

        <ng-template #collapsedIcon2>
            <app-chevrom-right-icon></app-chevrom-right-icon>
        </ng-template>
    </div>
  
    <div *ngIf="expanded['fechaFin']" class="mt-3">
        <mat-calendar [(selected)]="filters.fechaFin" (selectedChange)="onFilterChange()" [selected]="filters.fechaFin" [startAt]="filters.fechaFin" class="rounded-xl custom-calendar"></mat-calendar>
    </div>
</div>