<div class="container mx-auto px-4 mb-16 md:mb-28">
    <div class="flex flex-col md:flex-row items-center gap-12 mt-0">
        <div class="md:w-1/2">
            <h2 class="text-3xl md:text-4xl font-bold mb-6 mt-0">Su socio de confianza en soluciones de automoción de primera calidad</h2>

            <p class="text-lg opacity-60 mb-6">
                Fundada en 2024, Autos Miari es una empresa joven y en crecimiento, dedicada a la compra-venta y alquiler de vehículos.
            </p>
            <p class="text-lg opacity-60 mb-6">
                Desde nuestros inicios, nos hemos enfocado en ofrecer un servicio cercano, transparente y accesible para quienes buscan
                un vehículo confiable a buen precio, ya sea para uso personal, familiar o profesional.
            </p>
            <p class="text-lg opacity-60 mb-8">
                Aunque aún somos una empresa pequeña, trabajamos cada día con pasión y compromiso para brindar una atención personalizada y
                soluciones prácticas a nuestros clientes. Nuestro objetivo es ganarnos tu confianza y convertirnos en tu opción de confianza
                cuando se trata de comprar, vender o alquilar un coche.
            </p>

            <div class="flex flex-wrap gap-6">
                <div class="flex items-center gap-2">
                    <app-check2-icon></app-check2-icon>
                    <span class="font-medium opacity-80">Servicio de expertos</span>
                </div>

                <div class="flex items-center gap-2">
                    <app-check2-icon></app-check2-icon>
                    <span class="font-medium opacity-80">Precio transparente</span>
                </div>

                <div class="flex items-center gap-2">
                    <app-check2-icon></app-check2-icon>
                    <span class="font-medium opacity-80">Satisfacción del cliente</span>
                </div>
            </div>
        </div>

        <div class="md:w-1/2 rounded-lg overflow-hidden shadow-lg mt-0">
            <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="Autos Miari" 
                class="w-full h-auto object-cover"/>
        </div>
    </div>
</div>