<section class="absolute flex items-center justify-center left-0 top-0 w-full h-[60%] md:h-[36%] bg-gradient-to-r from-black to-[#6d7991] text-white pt-24 md:pt-20 pb-16">
    <div class="container mx-auto px-4">
        <div class="max-w-3xl mx-auto text-center">
            <h1 class="text-4xl md:text-5xl font-bold mb-6">Valora su coche</h1>
            <p class="text-xl text-white/80 mb-8">
                Obtén una estimación del valor de tu coche facilitando algunos datos básicos
            </p>
        </div>
    </div>
</section>
