<header [class.bg-gradient-to-r]="scrolled" [class.from-black]="scrolled" [class.to-[#6d7991]]="scrolled" [class.shadow-xl]="scrolled" class="fixed top-0 left-0 right-0 z-50 transition-all duration-300">
    <div class="flex items-center justify-between p-4 container mx-auto">
        <app-logo></app-logo>

        <app-navbar class="hidden md:block lg:block"></app-navbar>

        <app-botones-registro class="hidden md:block lg:block"></app-botones-registro>

        <!-- Mobile Menu Toggle -->
        <app-boton-mobile class="md:hidden" [mobileMenuOpen]="isMobileMenuOpen" (toggleMobileMenu)="toggleMobileMenu()"></app-boton-mobile>
    </div>
    
    <!-- Mobile Menu -->
    <app-mobile-menu [mobileMenuOpen]="isMobileMenuOpen"></app-mobile-menu>
</header>