<header [class.bg-gradient-to-r]="scrolled" [class.from-black]="scrolled" [class.to-[#6d7991]]="scrolled" [class.shadow-xl]="scrolled" class="fixed top-0 left-0 right-0 z-50 transition-all duration-300">
    <div class="container p-4 mx-auto flex items-center justify-between">
        <a class="flex items-center gap-2 cursor-pointer" (click)="navigateTo('home')">
            <img class="w-20" src="Logo_Autos_Miari_White.png" alt="Logo de Autos Miari">
            <span class="font-semibold text-white text-xl tracking-tight">Autos Miari</span>
        </a>
        <!-- <app-logo></app-logo> -->

        <nav class="hidden md:flex items-center gap-6">
            <a *ngFor="let link of navItems" [attr.aria-label]="link.label" (click)="navigateTo(link.path)"
                class="relative block font-semibold px-2 py-2 text-white hover:text-[#ff0030] transition cursor-pointer"
            >
              {{link.title}}
            </a>
        </nav>
        <!-- <app-navbar></app-navbar> -->

        <div class="hidden md:flex items-center gap-3">
            <app-boton class="text-sm text-white border-white">Iniciar sesión</app-boton>
            <app-boton class="text-sm text-white border-white">Registrarse</app-boton>
        </div>
        <!-- <app-botones-registro></app-botones-registro> -->

        <!-- Mobile Menu Toggle -->
        <button class="p-2 bg-transparent text-black border-none md:hidden" [attr.aria-label]="isMobileMenuOpen ? 'Close menu' : 'Open menu'" (click)="toggleMobileMenu()">
            <ng-container *ngIf="isMobileMenuOpen; else menuIcon">
                <app-x-icon></app-x-icon>
            </ng-container> 
            
            <ng-template #menuIcon>
                <app-menu-icon></app-menu-icon>
            </ng-template>
        </button>
        <!--<app-boton-mobile [mobileMenuOpen]="isMobileMenuOpen" (toggleMobileMenu)="toggleMobileMenu()"></app-boton-mobile> -->
    </div>
    
    <!-- Mobile Menu -->
    <div *ngIf="isMobileMenuOpen" class="fixed inset-0 top-[57px] bg-background z-40 animate-fade-in md:hidden">
        <div class="container px-4 py-8 flex flex-col gap-6">
            <nav class="flex items-center gap-6">
                <a *ngFor="let link of navItems" [attr.aria-label]="link.label" (click)="navigateTo(link.path); toggleMobileMenu()"
                          class = "relative block font-semibold px-2 py-2 transition hover:text-[#ff0030] cursor-pointer">
                  {{link.title}}
                </a>
            </nav>
    
            <div class="flex flex-col gap-3 mt-4">
                <Button variant="outline" class="w-full font-medium">
                    Sign In
                </Button>
    
                <Button class="w-full font-medium">Sign Up</Button>
            </div>
        </div>
    </div>
    <!-- <app-mobile-menu [mobileMenuOpen]="isMobileMenuOpen"></app-mobile-menu> -->
</header>