<div class="space-y-8">
    <div class="text-center mb-8">
        <h2 class="text-3xl font-bold mb-4 mt-0">Preguntas frequentes</h2>
        <p class="opacity-60">
            Encuentra respuestas rápidas a preguntas frecuentes
        </p>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div *ngFor="let question of frecQuestions">
            <div class="bg-white rounded-lg px-6 py-2 shadow-sm hover:shadow-lg transition-all duration-300 cursor-default">
                <h3 class="text-xl font-medium mb-3"> {{question.quest}}</h3>
                <p class="opacity-50 text-base">
                    {{question.answer}}
                </p>
            </div>
        </div>
    </div>
    
    <div class="text-center mt-8">
        <p class="opacity-60 mb-4 text-lg">
            ¿No encuentras lo que buscas? Envía tu pregunta mediante el formulario situado a la izquierda.
        </p>

        <a routerLink="/concertar-cita" class="boton-terciario mx-auto md:w-1/3" (click)="scrollTop()">
            <app-visit-icon></app-visit-icon>
            Concertar una visita
        </a>
    </div>
</div>