input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #6d7991;
    border-radius: 999px;
    cursor: pointer;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 20px;
      width: 20px;
      background: white;
      border: 2px solid red;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      transition: 0.2s;
    }
  
    &::-webkit-slider-thumb:hover {
      transform: scale(1.1);
      background: #f3f3f3;
    }
  
    &::-moz-range-thumb {
      height: 20px;
      width: 20px;
      background: white;
      border: 2px solid black;
      border-radius: 50%;
      cursor: pointer;
    }
  
    &::-ms-thumb {
      height: 20px;
      width: 20px;
      background: white;
      border: 2px solid black;
      border-radius: 50%;
    }
  }
  
.checkBox {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid #6d7991;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
  
.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #6d7991;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 500ms ease;
}

.custom-calendar {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

  /* Estilos generales */
  
  .mat-calendar-content {
    padding: 10px;

    .mat-calendar-body-label {
      display: none;
    }
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Cabecera del calendario */
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /* MES AÑO */
  .mat-calendar-header {
    color: black;

    /* Botón para cambiar de AÑO */
    .mat-calendar-period-button {
      color: black;
      font-size: 17px;
      font-weight: 500;
      transition: background-color 0.2s;

      &:hover {
        background-color: #6d7991;
        color: white !important; /* Mismo color que usas en otros hover */
      }

      .mat-calendar-arrow {
        display: none;
      }
    }
  }

  /* Flechas de avanzar y retroceder meses */
  .mat-calendar-previous-button,
  .mat-calendar-next-button {
    color: black !important;
    
    /* Flechas al hacer hover*/
    &:hover {
      background-color: #6d7991;
      color: white !important; /* Mismo color que usas en otros hover */
    }
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Días de la semana */
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  .mat-calendar-table-header {
    th {
      color: black;
    }
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Días del calendario */
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  .mat-calendar-body-cell {
    .mat-calendar-body-cell-content {
      border: 2px solid transparent;
      transition: all 0.2s;
      color: #00000080;
    }

    &:hover .mat-calendar-body-cell-content {
      background-color: transparent;
      border-color: #6d7991;
    }
  }

  /* Día seleccionado */
  .mat-calendar-body-selected {
    background-color: #6d7991;
    color: white !important;
    box-shadow: 0 2px 4px rgba(63, 81, 181, 0.3);
  }

  /* Día actual */
  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: #ff3131 !important;
    color: #ff3131;
    font-weight: 500;
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
