<div class="space-y-5">
    <div class="rounded-lg border bg-white shadow-sm p-6">
        <div class="pb-6">
            <div class="flex items-center text-xl gap-3">
                <app-check-icon></app-check-icon>
                ¿Pórque visitarnos?
            </div>
        </div>

        <p class="opacity-50 m-0">
            Nuestro sistema de concertación de citas le garantiza una atención personalizada por parte de
            nuestro personal experto a la hora que más le convenga.
        </p>

        <div class="space-y-2 mt-5">
            <div class="flex items-center gap-3">
                <app-time-off-icon currentClass="size-[1.30rem] opacity-50"></app-time-off-icon>
                <span class="opacity-50">Sin colas</span>
            </div>
            <div class="flex items-center gap-3">
                <app-hand-icon currentClass="size-[1.30rem] opacity-50"></app-hand-icon>
                <span class="opacity-50">Personal dedicado solo para ti</span>
            </div>
            <div class="flex items-center gap-3">
                <app-star-icon currentClass="size-[1.30rem] opacity-50"></app-star-icon>
                <span class="opacity-50">Experiencia personalizada según tus necesidades</span>
            </div>
        </div>
    </div>

    <div class="rounded-lg border bg-white shadow-sm p-6">
        <div class="pb-6 text-xl font-semibold">
            ¿Necesita ayuda inmediata?
        </div>
    
        <p class="mt-0 mb-7 opacity-50">
            Nuestro equipo de atención al cliente está a su disposición para ayudarle de inmediato.
        </p>

        <a routerLink="" class="boton-secundario" (click)="scrollTop()">
            Llamanós al 676 15 34 97
        </a>
    </div>
</div>
