<form [formGroup]="formIni" (ngSubmit)="onSubmitIni()" class="space-y-6 container mx-auto w-full md:w-2/3 px-10 md:px-0">
    <!-- Email -->
    <div class="relative w-full ">
        <label class="block mb-2 font-medium">Dirección de correo</label>
        <div class="flex items-center content-center">
            <input formControlName="email" placeholder="info@autosmiari.com" class="w-full p-[0.65rem] pl-10 rounded-lg opacity-80 text-sm border border-black/50"/>

            <span class="absolute pl-3 opacity-50">
                <app-mail-icon currentClass="size-[1.30rem]"></app-mail-icon>
            </span>
        </div>
    </div>

    <!-- Contraseña -->
    <div class="relative w-full ">
        <label class="block mb-2 font-medium">Contraseña</label>
        <div class="flex items-center content-center">
            <input [type]="mostrarPassword ? 'text' : 'password'" formControlName="pass" placeholder="Contraseña" class="w-full p-[0.65rem] rounded-lg opacity-80 text-sm border border-black/50"/>
            
            <span class="absolute right-3 cursor-pointer" (click)="mostrarPassword = ! mostrarPassword">
                <ng-container *ngIf="mostrarPassword; else ocultarPassword" class="bg-red-500">
                    <app-eye-open-icon></app-eye-open-icon>
                </ng-container>

                <ng-template #ocultarPassword>
                    <app-eye-close-icon></app-eye-close-icon>
                </ng-template>
            </span>
        </div>
    </div>

    <div class="flex items-center justify-center gap-3">
        <a>
            <app-google-icon></app-google-icon>
        </a>
        <a>
            <app-apple-icon></app-apple-icon>
        </a>
        <a>
            <app-facebook-auth-icon></app-facebook-auth-icon>
        </a>
    </div>

    <div class="h-[1.5px] bg-black rounded-full opacity-20"></div>

    <div class="flex items-center justify-center">
        <button class="bg-transparent border-none opacity-50 text-base cursor-pointer hover:scale-[1.03] transition-all duration-300" (click)="olvidarPass(); cambiarTab('olvidarPassword')">
            Olvidaste tu contraseña
        </button>
    </div>

    <!-- Botón -->
    <button type="submit" class="boton-secundario mt-6 mx-auto">
        <app-user-icon></app-user-icon>
        Iniciar sesión 
    </button>
</form>