  <div class="bg-white shadow-xl mx-auto p-6 rounded-xl">
    <h2 class="text-2xl mt-0">Tasa tu vehículo</h2>
    <p class="opacity-60 mb-8">
        Rellena el siguiente formulario para que podamos tasar tu vehículo en base a los siguientes atributos.
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-8">  
        <div *ngFor="let step of stepsData" class="bg-[#6d7991] text-white shadow-xl p-6 rounded-xl">
            <div class="flex justify-between items-center">
                <div class="flex items-center gap-2">
                    <ng-container *ngComponentOutlet="step.icon"></ng-container>
                    <label class="block text-lg font-semibold">{{ step.label }}</label>
                </div>
            </div>
    
            <div *ngIf="steps[step.key]">   
                <div class="flex items-center content-center mt-2">
                    <!-- Input tipo texto o número -->
                    <input *ngIf="! step.isSelect" [type]="step.type" [placeholder]="step.placeholder" [formControlName]="step.key" (input)="step.next && openNextStep(step.next)"
                            class="bg-white/80 hover:bg-white w-full p-[0.65rem] rounded-lg text-sm border border-black/50"
                    />
                </div>
            
                <!-- Select -->
                <div *ngIf="step.isSelect" class="relative w-full">
                    <select class="appearance-none bg-white/80 hover:bg-white rounded-md border-none w-full px-3 py-2.5 text-sm cursor-pointer"
                            [formControlName]="step.key" (change)="step.next && openNextStep(step.next)"
                    >
                        <option *ngFor="let opt of step.options" [value]="opt">{{ opt }}</option>
                    </select>
                    
                    <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center text-gray-500">
                        <app-chevrom-down-icon></app-chevrom-down-icon>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <app-boton2 type="submit" class="mt-6 mx-auto md:ml-0">
        <app-check-icon></app-check-icon>
        Obtener tasación
    </app-boton2>
</div>