<div class="space-y-5">
    <div class="rounded-lg border bg-white shadow-sm p-6">
        <div class="pb-6">
            <div class="flex items-center text-xl gap-3">
                <app-location-icon></app-location-icon>
                Nuestra ubicación
            </div>
        </div>

        <div class="flex flex-col gap-2 opacity-80 m-0">
            <span>Calle Estional, 72</span>
            <span>04712 El Ejido Almería</span>
            <span>España</span>
        </div>
    </div>

    <div class="rounded-lg border bg-white shadow-sm p-6">
        <div class="pb-6">
            <div class="flex items-center text-xl gap-3">
                <app-phone-icon></app-phone-icon>
                Detalles de contacto
            </div>
        </div>
    
        <div class="flex flex-col gap-3 m-0">
            <div class="flex items-center gap-2">
                <span class="opacity-60"><app-phone-icon currentClass="size-[1.30rem]"></app-phone-icon></span>
                <span class="opacity-80">676 15 34 97</span>
            </div>
            <div class="flex items-center gap-2 cursor-pointer">
                <span class="opacity-60"><app-mail-icon currentClass="size-[1.30rem]"></app-mail-icon></span>
                <a class="opacity-80">info&#64;autosmiari.com</a>
            </div>
        </div>
    </div>

    <div class="rounded-lg border bg-white shadow-sm p-6">
        <div class="pb-6">
            <div class="flex items-center text-xl gap-3">
                <app-time-icon></app-time-icon>
                Horario
            </div>
        </div>
    
        <div class="flex flex-col gap-3 opacity-80 m-0">
            <div class="grid grid-cols-[1fr_auto]">
                <span>Lunes - Viernes</span>
                <div class="flex flex-col gap-1">
                    <span>10:00 - 13:30</span>
                    <span>16:30 - 19:30</span>
                </div>
            </div>

            <div class="grid grid-cols-[1fr_auto]">
                <span>Sábado</span>
                <span>10:00 - 13:30</span>
            </div>

            <div class="grid grid-cols-[1fr_auto]">
                <span>Domingo</span>
                <span>Cerrado</span>
            </div>
        </div>
    </div>
</div>
