
<div class="container mx-auto px-4 mb-16 md:mb-28">
    <div class="text-center mb-8 md:mb-14">
        <h2 class="text-3xl md:text-4xl font-bold mb-6">Nuestra misión, visión y valores</h2>
        <p class="text-lg opacity-60 max-w-3xl mx-auto">
            Impulsar el futuro de la excelencia automovilística a través de la innovación, la integridad y un servicio excepcional.
        </p>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-12 md:mb-16">
        <div *ngFor="let item of items">
            <div class="bg-white rounded-lg border-none shadow-md hover:shadow-lg hover:-translate-y-1 transition-all duration-500 h-full">
                <div class="p-6">
                    <div class="flex items-center justify-center mx-auto bg-[#6d7991] p-1 mb-5 rounded-full size-16 text-white">
                        <ng-container *ngComponentOutlet="item.icon"></ng-container>
                    </div>
    
                    <h3 class="text-xl font-semibold mb-4 mt-0 text-center">{{item.title}}</h3>
                    <p class="opacity-50 text-center text-base mb-0">
                        {{item.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <h3 class="text-2xl font-semibold mb-8 text-center">Nuestros valores</h3>

        <div class="flex items-center">
            <div class="flex flex-wrap gap-6 justify-center">
                <div *ngFor="let value of values">
                    <div class="flex items-start max-w-sm px-6 pt-4 pb-2 gap-3 border border-border/40 shadow-sm hover:shadow-lg hover:bg-gray-600/5 transition-all duration-300">
                        <div class="flex items-center">
                            <ng-container *ngComponentOutlet="value.icon"></ng-container>
                        </div>
        
                        <div class="flex flex-col">
                            <h3 class="text-lg font-semibold my-0">{{value.title}}</h3>
                            <p class="text-sm opacity-60">{{value.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
