<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="space-y-4">
        <h3 class="font-semibold text-2xl mb-0">Información básica</h3>

        <div class="grid gap-3">
            <div class="flex items-center justify-between pr-16">
                <div class="flex items-center gap-2">
                    <app-car-icon class="text-[#ff3131]"></app-car-icon>
                    <span class="text-lg">Tipo de vehículo</span>
                </div>

                <span class="text-lg">{{vehicle.type}}</span>
            </div>

            <div class="flex items-center justify-between pr-16">
                <div class="flex items-center gap-2">
                    <app-calendar-icon class="text-[#ff3131]"></app-calendar-icon>
                    <span class="text-lg">Año de matriculación</span>
                </div>

                <span class="text-lg">{{vehicle.year}}</span>
            </div>

            <div class="flex items-center justify-between pr-16">
                <div class="flex items-center gap-2">
                    <app-euro-bag-icon class="text-[#ff3131]"></app-euro-bag-icon>
                    <span class="text-lg">Precio por día</span>
                </div>

                <span class="text-lg">{{vehicle.price}} €</span>
            </div>

            <div class="flex items-center justify-between pr-16">
                <div class="flex items-center gap-2">
                    <app-color-icon class="text-[#ff3131]"></app-color-icon>
                    <span class="text-lg">Color</span>
                </div>

                <span class="text-lg">{{vehicle.color}}</span>
            </div>
        </div>
    </div>

    <div class="space-y-4">
        <h3 class="font-semibold text-2xl mb-0">Detalles técnicos</h3>

        <div class="grid gap-3">
            <div class="flex items-center justify-between pr-16">
                <div class="flex items-center gap-2">
                    <app-km-icon class="text-[#ff3131]"></app-km-icon>
                    <span class="text-lg">Kilometraje</span>
                </div>

                <span class="text-lg">{{vehicle.mileage}} km</span>
            </div>

            <div class="flex items-center justify-between pr-16">
                <div class="flex items-center gap-2">
                    <app-engine-icon class="text-[#ff3131]"></app-engine-icon>
                    <span class="text-lg">Tipo de transmisión</span>
                </div>

                <span class="text-lg">{{vehicle.transmission}}</span>
            </div>

            <div class="flex items-center justify-between pr-16">
                <div class="flex items-center gap-2">
                    <app-fuel-icon class="text-[#ff3131]"></app-fuel-icon>
                    <span class="text-lg">Tipo de combustible</span>
                </div>

                <span class="text-lg">{{vehicle.fuel}}</span>
            </div>
        </div>
    </div>
</div>