<section class="container mx-auto pt-52">
    <div class="text-center mb-8 md:mb-14">
        <h2 class="text-3xl font-bold mb-4">Vehículos destacados</h2>
        <p class="text-lg md:text-xl mx-auto max-w-3xl opacity-60">
            Descubre nuestra cuidada selección de vehículos, pensada para adaptarse a tus necesidades del día a día. 
            Desde coches compactos hasta opciones familiares, todos revisados y listos para acompañarte en cada trayecto
        </p>
    </div>

    <!-- Lista de destacados -->
    <div class="relative">
        <ng-container *ngIf="! isMobile; else mobileFeatured">
            <div class="block absolute -left-16 top-1/2 transform -translate-y-1/2 z-10">
                <app-boton-slider (click)="goToPage(currentPage - 1)">
                    <app-left-arrow-icon></app-left-arrow-icon>
                </app-boton-slider>
            </div>

            <div class="grid grid-cols-3 gap-8 transition-all duration-500 ease-in-out">
                <div *ngFor="let vehicle of visibleVehicles | slice:(currentPage * 3):(currentPage * 3 + 3)"
                    class="bg-white rounded-xl shadow-md overflow-hidden hover:-translate-y-4 transition-all duration-500 flex-shrink-0 w-auto snap-none static"
                >
                    <app-carrusel-vehicle-card [vehicle]="vehicle" [favorites]="favorites" (toggleFavorite)="onToggleFavorite($event)" (top)="scrollTop()"></app-carrusel-vehicle-card>
                </div>
            </div>
        
            <div class="block absolute -right-16 top-1/2 transform -translate-y-1/2 z-10">
                <app-boton-slider (click)="goToPage(currentPage + 1)">
                    <app-rigth-arrow-icon></app-rigth-arrow-icon>
                </app-boton-slider>
            </div>
        </ng-container>

        <ng-template #mobileFeatured>
            <div #scrollContainer class="flex grid-cols-3 gap-8 transition-all duration-500 ease-in-out overflow-x-auto snap-x snap-mandatory scroll-smooth" (scroll)="onScroll($event)">
                <div *ngFor="let vehicle of visibleVehicles; let i = index" class="bg-white rounded-xl shadow-md overflow-hidden flex-shrink-0 w-full snap-start">
                    <app-carrusel-vehicle-card [vehicle]="vehicle" [favorites]="favorites" (toggleFavorite)="onToggleFavorite($event)" (top)="scrollTop()"></app-carrusel-vehicle-card>
                </div>
            </div>
        </ng-template> 
    </div>

    <!-- Indicador de carrusel -->
    <div class="flex justify-center my-8 gap-2">
        <ng-container *ngIf="isMobile; else noMobile">
            <button *ngFor="let vehicle of visibleVehicles; let i = index" (click)="goToPage(i)"
                    [class]="currentSlide === i 
                        ? 'h-3 rounded-full bg-[#6d7991] border-none transition-all duration-200 cursor-pointer' 
                        : 'h-3 rounded-full bg-[#6d7991]/40 border-none transition-all duration-200 cursor-pointer'"
                        [attr.aria-label]="'Go to slide ' + (i + 1)"
            ></button>
        </ng-container>

        <ng-template #noMobile>
            <button *ngFor="let index of getIndicatorsArray(); let i = index" (click)="goToPage(i)"
                    [class]="currentSlide === i 
                        ? 'w-10 h-4 rounded-full bg-[#6d7991] border-none transition-all duration-300 cursor-pointer' 
                        : 'w-4 h-4 rounded-full bg-[#6d7991]/40 border-none transition-all duration-300 cursor-pointer'"
                        [attr.aria-label]="'Go to slide ' + (i + 1)"
            ></button>
        </ng-template>
    </div>
    
    <div class="flex flex-col md:flex-row items-center justify-center gap-6">
        <a routerLink="/comprar" class="boton-principal text-lg w-[70%] md:w-1/6" (click)="scrollTop()">
            <app-car-icon></app-car-icon>
            Comprar un vehículo
        </a>
        <a routerLink="/alquilar" class="boton-principal text-lg w-[70%] md:w-1/6" (click)="scrollTop()">
            <app-car-icon></app-car-icon>
            Alquilar un vehículo
        </a>
    </div>
</section>