<header [class.bg-white]="scrolled" [class.shadow-xl]="scrolled" [class.transition-all]="scrolled" [class.duration-300]="scrolled"
        class="fixed top-0 left-0 right-0 z-50"
        [ngClass]="{
            'bg-white': isMobileMenuOpen || (! isMobileMenuOpen && scrolled),
        }"
>
    <div class="flex items-center justify-between p-4 container mx-auto">
        <app-logo-h></app-logo-h>

        <app-navbar-h class="hidden md:block lg:block"></app-navbar-h>


        <app-botones-registro-h class="hidden md:block lg:block"></app-botones-registro-h>

        <!-- Mobile Menu Toggle -->
        <button class="flex items-center justify-center bg-transparent border-none text-black md:hidden" (click)="toggleMobileMenu()">
            <ng-container *ngIf="isMobileMenuOpen; else menuIcon">
                <app-x-icon></app-x-icon>
            </ng-container>

            <ng-template #menuIcon>
                <app-menu-icon></app-menu-icon>
            </ng-template>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div *ngIf="isMobileMenuOpen">
        <app-mobile-menu-h></app-mobile-menu-h>
    </div>
</header>