<header [class.bg-white]="scrolled" [class.shadow-xl]="scrolled" class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 overflow-x-hidden">
    <div class="flex items-center justify-between p-4 container mx-auto">
        <app-logo-h></app-logo-h>

        <app-navbar-h class="hidden md:block lg:block"></app-navbar-h>


        <app-botones-registro-h class="hidden md:block lg:block"></app-botones-registro-h>

        <!-- Mobile Menu Toggle -->
        <app-boton-mobile class="md:hidden" [mobileMenuOpen]="isMobileMenuOpen" (toggleMobileMenu)="toggleMobileMenu()"></app-boton-mobile>
    </div>

    <!-- Mobile Menu -->
    <app-mobile-menu [mobileMenuOpen]="isMobileMenuOpen"></app-mobile-menu>
</header>