<!-- Si no hay vehículos -->
<div *ngIf="vehicles.length === 0; else showVehicles" class="bg-white rounded-lg shadow p-8 text-center"> 
    <app-alert-icon></app-alert-icon>
    <h3 class="text-xl font-bold mb-2">No se han encontrado vehículos</h3>
    <p class="text-muted-foreground mb-4">Prueba a ajustar los filtros para encontrar más opciones</p>
    <app-boton4 class="mx-auto w-4/6 md:w-1/6" (click)="resetFilters(); irAPagina(1)">
        <app-trash-icon></app-trash-icon>
        <span class="text-sm">Limpiar filtros</span>
    </app-boton4>
</div>

<!-- Si hay vehículos -->
<ng-template #showVehicles>
    <div *ngIf="viewType === 'grid'; else listView" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let vehicle of vehicles">
            <app-vehicle-card-a
                [vehicle]="vehicle"
                [favorite]="favorites.includes(vehicle.id)"
                [visible]="visible"
                (toggleFavorite)="onToggleFavorite($event)"
                (open)="openModal($event)"
            ></app-vehicle-card-a>
        </div>
    </div>

    <ng-template #listView>
        <div *ngFor="let vehicle of vehicles" class="flex flex-col w-full space-y-8">
            <app-vehicle-list-a
                [vehicle]="vehicle"
                [favorite]="favorites.includes(vehicle.id)"
                [visible]="visible"
                (toggleFavorite)="onToggleFavorite($event)"
                (open)="openModal($event)"
            ></app-vehicle-list-a>
        </div>
    </ng-template>
</ng-template>