<!-- Header -->
<app-header></app-header>

<!-- Sección 'Hero' -->
<app-hero-alquilar [filters]="filters" (filtersChange)="updateFilters($event)"></app-hero-alquilar>

<!-- Filtros y resultados de la búsqueda -->
<section>
    <div class="container mx-auto px-4 mt-96 pt-20 md:pt-12">
        <div class="flex flex-col lg:flex-row gap-8">
            <!-- Filtros -->
            <app-filters-a [filters]="filters" [currentPage]="currentPage" (filtersChange)="updateFilters($event)" (goToPage)="goToPage($event)"></app-filters-a>
        
            <!-- Resultados -->
            <div class="flex-1">

                <!-- Resultados en el encambezado -->
                <app-result-header-a [filteredVehicles]="filteredVehicles" [viewType]="viewType" (viewTypeChange)="setViewType($event)"></app-result-header-a>
        
                <!-- Vehiculos -->
                <app-vehicles-a [vehicles]="pagedVehicles" [viewType]="viewType" [favorites]="favorites" [filters]="filters" [currentPage]="currentPage" [visible]="showModal" [vehicle]="selectedVehicle"   
                                (toggleFavorite)="onToggleFavorite($event)" (filtersChange)="updateFilters($event)" (goToPage)="goToPage($event)" (open)="openModal($event)">
                </app-vehicles-a>
        
                <!-- Paginación -->
                <app-pagination-a [vehicles]="filteredVehicles" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [pageVehicles]="pagedVehicles"
                                [totalPages]="totalPages" (goToPage)="goToPage($event)">
                </app-pagination-a>
            </div>
        </div>
    </div>
</section>

<app-detalles-a *ngIf="showModal" [vehicles]="vehicles" [vehicle]="selectedVehicle" [filters]="filters" (close)="closeModal()"></app-detalles-a>