<app-header></app-header>
<app-hero-ini-ses></app-hero-ini-ses>
<section class="container mx-auto py-5 mt-96 z-20 bg-white rounded-xl shadow-xl">
    <div class="relative flex justify-center bg-[#6d7991]/70 rounded-full p-3 mb-6 mx-5 gap-4 ">
        <button (click)="activeTab = 'iniciar-sesion'" class="rounded-full p-2 w-1/2 border-none text-lg text-white font-semibold transition-all"
                [ngClass]="{
                    'bg-[#6d7991]': activeTab === 'iniciar-sesion',
                    'bg-transparent hover:scale-105 cursor-pointer transition-all duration-300': activeTab !== 'iniciar-sesion'
                }"
        >
            Iniciar sesión
        </button>

        <button (click)="activeTab = 'registro'" class="rounded-full p-2 w-1/2 border-none text-lg text-white font-semibold transition-all"
                [ngClass]="{
                    'bg-[#6d7991]/100': activeTab === 'registro',
                    'bg-transparent hover:scale-105 cursor-pointer transition-all duration-300': activeTab !== 'registro'
                }"
        >
            Registrate
        </button>
    </div>
  
    <div *ngIf="activeTab === 'iniciar-sesion'">
        <h2 class="text-2xl font-bold text-center mb-6">Compra un vehículo</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 px-6 place-items-start md:place-items-center place-content-center">
            <!-- Marca -->
            <div class="w-full md:w-4/5">
                <label class="text-lg font-medium">Marca</label>
                <select class="bg-transparent rounded-full text-base p-2 w-full mt-2 cursor-pointer">
                    <option value="">Selecciona la marca</option>
                </select>
            </div>

            <!-- Modelo -->
            <div class="w-full md:w-4/5">
                <label class="text-lg font-medium">Modelo</label>
                <select class="bg-transparent rounded-full text-base p-2 w-full mt-2 cursor-pointer">
                    <option value="">Selecciona el modelo</option>
                </select>
            </div>

            <!-- Precio -->
            <div class="w-full md:w-4/5">
                <label class="text-lg font-medium">Precio</label>
                <select class="bg-transparent rounded-full text-base p-2 w-full mt-2 cursor-pointer">
                    <option value="">Cualquier precio</option>
                    <option value="Menos de 10.000€">Menos de 10.000€</option>
                    <option value="10.000€ - 30.000€">10.000€ - 30.000€</option>
                    <option value="30.000€ - 50.000€">30.000€ - 50.000€</option>
                    <option value="50.000€ - 100.000€">50.000€ - 100.000€</option>
                    <option value="Más de 100.000€">Más de 100.000€</option>
                </select>
            </div>

            <!-- Año -->
            <div class="w-full md:w-4/5">
                <label class="text-lg font-medium">Año</label>
                <select class="bg-transparent rounded-full text-base p-2 w-full mt-2 cursor-pointer">
                    <option value="">Cualquier año</option>
                    <option value="Después de 2023">Después de 2023</option>
                    <option value="2020-2022">2020-2022</option>
                    <option value="2015-2019">2015-2019</option>
                    <option value="2010-2014">2010-2014</option>
                    <option value="Antes de 2010">Antes de 2010</option>
                </select>
            </div>    
        </div>

        <div class="flex justify-center items-center mt-8">
            <app-boton2 (click)="navigateTo('comprar')">
                Buscar vehículos para comprar
            </app-boton2>
        </div>
    </div>
  
    <div *ngIf="activeTab === 'registro'">
        <h2 class="text-2xl font-bold text-center mb-6">Alquila un vehículo</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 px-6 place-items-start md:place-items-center place-content-center">
            <!-- Localización -->
            <div class="w-full md:w-4/5">
                <label class="text-lg font-medium">Localización</label>
                <select class="bg-transparent rounded-full text-base p-2 w-full mt-2 cursor-pointer">
                    <option value="">Cualquier localización</option>
                    <option value="malaga">Málaga</option>
                    <option value="almeria">Almería</option>
                    <option value="sevilla">Sevilla</option>
                    <option value="madrid">Madrid</option>
                    <option value="barcelona">Barcelona</option>
                </select>
            </div>
  
            <!-- Tipo de vehículo -->
            <div class="w-full md:w-4/5">
                <label class="text-lg font-medium mr-4">Tipo de vehiculo</label>
                <select class="bg-transparent rounded-full text-base p-2 w-full mt-2 cursor-pointer">
                    <option value="">Cualquier tipo</option>
                    <option value="economicos">Económico</option>
                    <option value="compacto">Compacto</option>
                    <option value="suv">SUV</option>
                    <option value="lujoso">Lujoso</option>
                    <option value="convertible">Convertible</option>
                </select>
            </div>
        </div>
    
        <div class="flex justify-center mt-8">
            <app-boton2 (click)="navigateTo('alquilar')">
                Buscar vehículos para alquilar
            </app-boton2>
        </div>
    </div>
</section>