
<h2 class="text-2xl font-bold text-center mb-6">Recupera tu contraseña</h2>
<form [formGroup]="formPass" (ngSubmit)="onSubmitPass()" class="space-y-6 container mx-auto w-2/3">
    <!-- Email -->
    <div class="relative w-full ">
        <label class="block mb-2 font-medium">Dirección de correo</label>
        <div class="flex items-center content-center">
            <input type="email" formControlName="email" placeholder="info@autosmiari.com" class="w-full p-[0.65rem] pl-10 rounded-lg opacity-80 text-sm border border-black/50"/>

            <span class="absolute pl-3 opacity-50">
                <app-mail-icon currentClass="size-[1.30rem]"></app-mail-icon>
            </span>
        </div>
    </div>

    <div class="flex items-center justify-center">
        <p class="bg-transparent border-none opacity-50 text-base text-center max-w-xs m-0">
            Te enviaremos un correo para que puedas modificar tu contraseña actual
        </p>
    </div>

    <!-- Botón -->
    <button type="submit" class="boton-secundario mt-6 mx-auto">
        <app-key-icon></app-key-icon>
        Recuperar contraseña
    </button>
</form>