<section class="container mx-auto py-5 -mt-24 z-20 bg-white rounded-xl shadow-xl">
    <div class="relative flex justify-center bg-[#6d7991]/70 rounded-full p-3 mb-6 mx-5 gap-4 ">
        <button (click)="activeTab = 'comprar'" class="rounded-full p-2 w-1/2 border-none text-lg text-white font-semibold transition-all"
                [ngClass]="{
                    'bg-[#6d7991] transition-all duration-700': activeTab === 'comprar',
                    'bg-transparent hover:scale-105 cursor-pointer transition-all duration-300': activeTab !== 'comprar',
                }"
        >
            Comprar
        </button>

        <button (click)="activeTab = 'alquilar'" class="rounded-full p-2 w-1/2 border-none text-lg text-white font-semibold transition-all"
                [ngClass]="{
                    'bg-[#6d7991]/100 transition-all duration-700': activeTab === 'alquilar',
                    'bg-transparent hover:scale-105 cursor-pointer transition-all duration-300': activeTab !== 'alquilar',
                }"
        >
            Alquilar
        </button>
    </div>
  
    <div *ngIf="activeTab === 'comprar'">
        <h2 class="text-2xl font-bold text-center mb-6">Compra un vehículo</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 px-6 place-items-start md:place-items-center place-content-center">
            <!-- Marca -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Marca</label>
                <div class="flex items-center content-center">
                    <select [(ngModel)]="marcaSeleccionada" class="w-full p-[0.65rem] pl-10 rounded-full opacity-50 text-sm border border-black/50 bg-transparent cursor-pointer">
                        <option class="opacity-80" value="">Cualquier marca</option>
                        <option class="opacity-80" value="Fiat">Fiat</option>
                    </select>
    
                    <span class="absolute pl-3 opacity-50">
                        <app-brand-icon currentClass="size-[1.30rem]"></app-brand-icon>
                    </span>
                </div>
            </div>

            <!-- Modelo -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Modelo</label>
                <div class="flex items-center content-center">
                    <select [(ngModel)]="modeloSeleccionado" class="w-full p-[0.65rem] pl-10 rounded-full opacity-50 text-sm border border-black/50 bg-transparent cursor-pointer">
                        <option class="opacity-80" value="">Cualquier modelo</option>
                    </select>
    
                    <span class="absolute pl-3 opacity-50">
                        <app-tag-icon currentClass="size-[1.30rem]"></app-tag-icon>
                    </span>
                </div>
            </div>

            <!-- Precio -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Precio</label>
                <div class="flex items-center content-center">
                    <input [(ngModel)]="precioIndicado" type="number" placeholder="Introduce un precio" class="w-full p-[0.65rem] pl-10 rounded-full opacity-80 text-sm border border-black/50" />
    
                    <span class="absolute pl-3 opacity-50">
                        <app-euro-bag-icon currentClass="size-[1.30rem]"></app-euro-bag-icon>
                    </span>
                </div>
            </div>

            <!-- Año -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Año</label>
                <div class="flex items-center content-center">
                    <select [(ngModel)]="anoSeleccionado" class="w-full p-[0.65rem] pl-10 rounded-full opacity-50 text-sm border border-black/50 bg-transparent cursor-pointer">
                        <option class="opacity-80" value="">Cualquier año</option>
                    </select>
    
                    <span class="absolute pl-3 opacity-50">
                        <app-calendar-icon currentClass="size-[1.30rem]"></app-calendar-icon>
                    </span>
                </div>
            </div>    
        </div>

        <div class="flex justify-center items-center mt-8">
            <a [routerLink]="['/comprar']" class="boton-secundario" (click)="scrollTop()"
            [queryParams]="{
                            marca: marcaSeleccionada,
                            modelo: modeloSeleccionado,
                            precio: precioIndicado,
                            ano: anoSeleccionado
                        }"
            >
                <app-search-icon></app-search-icon>
                Buscar vehículos para comprar
            </a>
        </div>
    </div>
  
    <div *ngIf="activeTab === 'alquilar'">
        <h2 class="text-2xl font-bold text-center mb-6">Alquila un vehículo</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 px-6 place-items-start md:place-items-center place-content-center">
            <!-- Fecha de inicio -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Fecha de inicio</label>
                <div class="flex items-center content-center">
                    <input [(ngModel)]="fechaIniIndicada" class="w-full p-[0.65rem] rounded-full opacity-50 text-sm border border-black/50 bg-transparent cursor-pointer"
                           type="date" id="fechaInicio"
                    />
                </div>
            </div>

            <!-- Fecha de fin -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Fecha de fin</label>
                <div class="flex items-center content-center">
                    <input [(ngModel)]="fechaFinIndicada" class="w-full p-[0.65rem] rounded-full opacity-50 text-sm border border-black/50 bg-transparent cursor-pointer"
                           type="date" id="fechaInicio"
                    />
                </div>
            </div>
  
            <!-- Tipo de vehículo -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Tipo de vehiculo</label>
                <div class="flex items-center content-center">
                    <select [(ngModel)]="tipoSeleccionado" class="w-full p-[0.65rem] pl-10 rounded-full opacity-50 text-sm border border-black/50 bg-transparent cursor-pointer">
                        <option class="opacity-80" value="">Cualquier tipo</option>
                        <option value="">Cualquier tipo</option>
                        <option value="economicos">Económico</option>
                        <option value="compacto">Compacto</option>
                        <option value="suv">SUV</option>
                        <option value="lujoso">Lujoso</option>
                        <option value="convertible">Convertible</option>
                    </select>
    
                    <span class="absolute pl-3 opacity-50">
                        <app-car-icon currentClass="size-[1.30rem]"></app-car-icon>
                    </span>
                </div>
            </div>

            <!-- Precio por día -->
            <div class="w-full md:w-4/5">
                <label class="block mb-2 text-lg font-medium">Precio</label>
                <div class="flex items-center content-center">
                    <input [(ngModel)]="precioPorDiaIndicado" type="number" placeholder="Introduce un precio" class="w-full p-[0.65rem] pl-10 rounded-full opacity-80 text-sm border border-black/50" />
    
                    <span class="absolute pl-3 opacity-50">
                        <app-euro-bag-icon currentClass="size-[1.30rem]"></app-euro-bag-icon>
                    </span>
                </div>
            </div>
        </div>
    
        <div class="flex justify-center mt-8">
            <a [routerLink]="['/alquilar']" class="boton-secundario" (click)="scrollTop()"
               [queryParams]="{
                                fechaIni: fechaIniIndicada,
                                fechaFin: fechaFinIndicada,
                                tipo: tipoSeleccionado,
                                precioPorDia: precioPorDiaIndicado
                            }"
            >
                <app-search-icon></app-search-icon>
                Buscar vehículos para alquilar
            </a>
        </div>
    </div>
</section>
  