<section class="container mx-auto py-5">
    <div class="md:container max-w-3xl mx-auto px-4">
        <div class="text-center mb-10">
            <h2 class="text-3xl font-bold mb-4">Cómo funciona</h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div *ngFor="let step of steps">
                <div class="relative bg-white max-w-md rounded-xl shadow-sm hover:shadow-lg hover:-translate-y-1 transition-all duration-500">
                    <div class="px-6 py-4">
                        <div class="absolute flex items-center justify-center -top-4 -left-4 w-12 h-12 rounded-full bg-[#6d7991] text-white text-xl font-bold">{{step.id}}</div>
                        <h3 class="font-semibold text-2xl mb-0">{{step.title}}</h3>
            
                        <div class="opacity-50 text-base">
                            <p>{{step.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>