<section class="container mx-auto py-5 mt-24 z-20 bg-white rounded-xl shadow-xl">
    <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-2xl font-bold text-center mb-6">¿Quieres descubrir qué hace diferente a Autos Miari?</h2>
        <p class="text-lg opacity-50 mb-8">
            Si estás buscando para comprar, vender, o alquilar un vehículo, nuestro equipo está aquí para ofrecerle una experiencia excepcional.
        </p>

        <div class="flex flex-col md:flex-row justify-center items-center mx-auto mt-8 gap-5 w-2/3">
            <a routerLink="/comprar" class="boton-secundario w-full" (click)="scrollTop()">
                <app-car-icon></app-car-icon>
                Ver catálogo
            </a>
            <a routerLink="/concertar-cita" class="boton-terciario w-full" (click)="scrollTop()">
                <app-visit-icon></app-visit-icon>
                Concertar una visita
            </a>
        </div>
    </div>
</section>
  
