@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Onest", system-ui, sans-serif;
	scroll-behavior: smooth;
}

@media (prefers-reduce-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html, body { height: 100%; }

.custom-calendar {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

  /* Estilos generales */
  
  .mat-calendar-content {
    padding: 10px;

    .mat-calendar-body-label {
      display: none;
    }
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Cabecera del calendario */
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /* MES AÑO */
  .mat-calendar-header {
    color: black;

    /* Botón para cambiar de AÑO */
    .mat-calendar-period-button {
      color: black;
      font-size: 17px;
      font-weight: 500;
      transition: background-color 0.2s;

      &:hover {
        background-color: #6d7991;
        color: white !important; /* Mismo color que usas en otros hover */
      }

      .mat-calendar-arrow {
        display: none;
      }
    }
  }

  /* Flechas de avanzar y retroceder meses */
  .mat-calendar-previous-button,
  .mat-calendar-next-button {
    color: black !important;
    
    /* Flechas al hacer hover*/
    &:hover {
      background-color: #6d7991;
      color: white !important; /* Mismo color que usas en otros hover */
    }
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Días de la semana */
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  .mat-calendar-table-header {
    th {
      color: black;
    }
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Días del calendario */
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  .mat-calendar-body-cell {
    .mat-calendar-body-cell-content {
      border: 2px solid transparent;
      transition: all 0.2s;
      color: #00000080;
    }

    &:hover .mat-calendar-body-cell-content {
      background-color: transparent;
      border-color: #6d7991;
      color: #00000080 !important;
    }
  }

  /* Día seleccionado */
  .mat-calendar-body-selected {
    background-color: #6d7991;
    color: white !important;
    box-shadow: 0 2px 4px rgba(63, 81, 181, 0.3);
  }

  /* Día actual */
  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: #ff3131 !important;
    color: #ff3131;
    font-weight: 500;
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Botones */
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /* Boton principal */

  .boton-principal {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 0.75rem;

    background-color: transparent;
    color: black;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 0.75rem;

    padding: 0.75rem 1rem;

    cursor: pointer;
    text-decoration: none;

    transition: all;
    transition-duration: 200ms;
  }

  .boton-principal:hover {
    background-color: #ff3131;
    color: white;
    border-color: #ff3131;
  }

  #noHomeBoton {
    color: white;
    border: 2px solid white;
  }

  #noHomeBoton:hover {
    border-color: #ff3131;
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /* Botón secundario */

  .boton-secundario {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 0.75rem;

    background-color: #ff3131;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    border-radius: 9999px;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    padding: 0.75rem 1rem;

    cursor: pointer;
    text-decoration: none;

    transition: all;
    transition-duration: 200ms;
  }

  .boton-secundario:hover {
    background-color: #c80d0d;
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /* Botón terciario */

  .boton-terciario {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 0.75rem;

    background-color: transparent;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 2px solid black;
    border-radius: 9999px;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    padding: 0.75rem 1rem;

    cursor: pointer;
    text-decoration: none;

    transition: all;
    transition-duration: 200ms;
  }

  .boton-terciario:hover {
    background-color: #6d7991;
    color: white;
    border-color: #6d7991;
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/