@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Onest", system-ui, sans-serif;
	scroll-behavior: smooth;
}

@media (prefers-reduce-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html, body { height: 100%; }
