<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" (click)="closeModal()">
    <div class="container bg-white md:rounded-lg shadow-lg py-6 px-8 h-full md:h-5/6 w-full md:w-[40%] overflow-y-auto" (click)="$event.stopPropagation()">
        <!-- Alerta -->
        <div *ngIf="showAlert" class="absolute left-1/2 bg-[#ff3131] text-white text-center text-lg font-semibold px-6 py-3 w-[90%] md:max-w-xl rounded-xl shadow-lg transform -translate-x-1/2 z-50 ">
            {{ alertMessage }}
        </div>

        <!-- Encabezado del modal -->
        <app-header-a [vehicle]="vehicle" (close)="closeModal()"></app-header-a>
        
        <!-- Carrusel de imágenes -->
        <app-carrusel-a [vehicle]="vehicle" [vehicles]="vehicles"></app-carrusel-a>

        <!-- Detalles del vehículo -->
        <app-info-a [vehicle]="vehicle"></app-info-a>

        <!-- Descripción del vehículo -->
        <app-descripcion-a></app-descripcion-a>

        <div class="flex flex-col md:flex-row items-center justify-center gap-6 w-9/12 mx-auto mb-12">
            <div class="w-full">
                <div class="flex items-center gap-2 text-lg font-medium mb-2">
                    <app-calendar-start></app-calendar-start>
                    Fecha de inicio
                </div>
                <mat-calendar [(selected)]="fechaIni" [selected]="filters.fechaInicio" [startAt]="filters.fechaInicio" class="rounded-xl custom-calendar"></mat-calendar>
            </div>
          
            <div class="w-full">
                <div class="flex items-center gap-2 text-lg font-medium mb-2">
                    <app-calendar-end></app-calendar-end>
                    Fecha de fin
                </div>
                <mat-calendar [(selected)]="fechaFin" [selected]="filters.fechaFin" [startAt]="filters.fechaFin" class="rounded-xl custom-calendar"></mat-calendar>
            </div>
        </div>

        <a class="boton-secundario md:w-1/3 mx-auto my-6" (click)="reservarVehiculo()">
            <app-calendar-check-icon></app-calendar-check-icon>
            Reservar vehículo
        </a>
    </div>
</div>