<section class="absolute left-0 top-0 w-full mb-96 bg-gradient-to-r from-black to-[#6d7991] text-white py-16">
    <div class="container mx-auto px-4">
        <div class="max-w-3xl mx-auto text-center">
            <h1 class="text-4xl md:text-5xl font-bold mb-6">Descubre tu próximo vehículo</h1>
            <p class="text-xl text-white/80 mb-8">
                Explora nuestra cuidada selección de coches disponibles para comprar y encuentra el que mejor se adapte a tu estilo de vida.
            </p>
        </div>

        <!-- <div class="flex items-center max-w-xl mx-auto w-full h-14 gap-3">
            <input class="bg-white text-base px-5 w-full h-full rounded-full" type="text" placeholder="Busca por marca, modelo, color ..." (change)="onFilterChange()" />
            <Button class="flex items-center justify-center bg-[#ff3131] border-none text-white h-full w-14 p-4 rounded-full">
                <app-search-icon></app-search-icon>
            </Button>
        </div> -->
    </div>
</section>
